@charset "utf-8";
#elegance_banner {
	vertical-align: bottom;
	border: thin none #FFF;
}
.img_right_float {
	clear: none;
	float: right;
	margin-right: 5em;
}
.img_adj_right {
	float: right;
	margin-top: -20em;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	color: #000;
}


#body_width {
	width: 960px;
	border: thin none #FFFFFF;
	display: block;
	margin-right: auto;
	margin-left: auto;
}



.img_left_float {
	float: left;
	margin-right: 1em;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
.body_whole {
	background-color: #FFFFFF;
}

.body_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
}
#body_width table {
	margin-right: 5px;
}
#fade {
	float: right;
	height: 300px;
	width: 300px;
	margin-top: -25em;
}
