@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Categories</p>
            <div class="list-group">
                <a href="#" class="list-group-item">Facial</a>
                <a href="#" class="list-group-item">Body</a>
                <a href="#" class="list-group-item">Hands</a>
                <a href="#" class="list-group-item">Feet</a>
            </div>
        </div>

        <div class="col-md-9">

                  <div class="row">

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            
                            <h4>
                                <a href="#">First Product</a>
                            </h4>
                            <h4>$24.99</h4>
                            <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                        </div>
                       
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            
                            <h4>
                                <a href="#">Second Product</a>
                            </h4>
                            <h4>$24.99</h4>
                            <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            
                            <h4>
                                <a href="#">Third Product</a>
                            </h4>
                            <h4>$74.99</h4>
                            <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                     
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            
                            <h4>
                                <a href="#">Fourth Product</a>
                            </h4>
                            <h4>$84.99</h4>
                            <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                 
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            
                            <h4>
                                <a href="#">Fifth Product</a>
                            </h4>
                            <h4>$94.99</h4>
                            <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
             
                    </div>
                </div>

                      <div class="col-sm-4 col-lg-4 col-md-4">
                          <div class="thumbnail">
                              <img src="http://placehold.it/320x150" alt="">
                              <div class="caption">
                                  
                                  <h4>
                                      <a href="#">Sixth Product</a>
                                  </h4>
                                  <h4>$14.99</h4>
                                  <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                              </div>
                              
                          </div>
                      </div>         

            </div>

        </div>

    </div>

</div>
