/*
Dropdown Menu / Vertical
*/

/* <#dropDown> visual style */
#dropDown {
	display:block;
	width:100%;
	font-weight:600;
	letter-spacing:.75px;
	font-size:0.85em;
	line-height:1.75;
}
#dropDown a {
	color:#fff;
	background-color:#268f00;
	padding:.2em 1.5em;
	border-width:.4em;
	border-color:#268f00;
	border-right-style:solid;
	text-decoration:none;
}
#dropDown li:hover>a{
	color:#ff8519;
	background-color:#fff;
}
#dropDown a:active {
	color:#ff8519;
	background-color:#fff;
}
#dropDown a#currentPg{
	color:#ff8519;
	background-color:#fff;
}
#dropDown li ul {
	width:14em;
	opacity:0.85;
	}
#dropDown li li a {
	border-right-style:none;
	border-top-style:solid;
}
#dropDown li li:first-child a  {
	border-top-color:#fff;
}

/* <#dropDown> functional style */
#dropDown ul {
	float:left;
	width:100%;
	background-color:#268f00;
}
#dropDown li {
	float:left;
	list-style-type:none;
	position:relative;
}
#dropDown li a {
	display:block;
	background-clip:padding-box;
}
#dropDown li:last-child a {
	border-right-style:none;
}
#dropDown li ul {
	display:none;
	position:absolute;
	left:0;
	top:100%;
	z-index:300;
}
#dropDown li:hover > ul {display:block}

#dropDown li li {
	float:none;
}
#dropDown li li  ul {
	position:absolute;
	left:100%;
	top:0;
}
